<body>
  <!-- mian-content -->
  <div class="main-w3-pvt-header-sec page-w3pvt-inner" id="home">
    <div class="overlay-innerpage">
      <!-- header -->
      <header>
        <div class="container">
          <div class="header d-lg-flex justify-content-between align-{{applicant.phoneNumber}}s-center py-lg-3 px-lg-3">
            <!-- logo -->
            <div id="logo">
              <h1><a href="index.html"><span class="fa fa-recycle mr-2"></span>FarmKa$h</a></h1>
            </div>
            <!-- //logo -->
            <div class="w3pvt-bg">
              <!-- nav -->
              <div class="nav_w3pvt">
                <nav>
                  <label for="drop" class="toggle">Menu</label>
                  <input type="checkbox" id="drop" />
                  <ul class="menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="contact.html">Contact Us</a></li>
                  </ul>
                </nav>
              </div>
              <!-- //nav -->
              <div class="justify-content-center">
             
                <div class="apply-w3-pvt ml-lg-3">
                  <a class="btn read" href="Applynow.html" role="button">Apply Now</a>
                </div>
           

              </div>
            </div>
          </div>
        </div>
      </header>
      
    </div>
  </div>
  
  <section class="content-info py-5">
    <div class="container py-md-5">


      <h2>Personal Details</h2>
      <br>
      <dl class="dl-horizontal">
        <dt>First Name</dt>
        <dd>{{applicant.firstName}}</dd>
        <dt>Last Name</dt>
        <dd>{{applicant.lastName}}</dd>
        <dt>Age</dt>
        <dd>{{applicant.age}}</dd>
        <dt>Email</dt>
        <dd>{{applicant.email}}</dd>
        <dt>Phone number</dt>
        <dd>{{applicant.phoneNumber}}</dd>
        <dt>Address</dt>
        <dd>{{applicant.farmAdress}}</dd>
        <dt>Bvn</dt>
        <dd>{{applicant.bvn}}</dd>
        <dt>Reason for applying</dt>
        <dd>{{applicant.loanReason}}</dd>

      </dl>
      <h2>Business Details</h2>
      <br>
      <dl class="dl-horizontal">
        <dt>Business Name</dt>
        <dd>{{applicant.businessName}}</dd>
        <dt>Type Of Practice</dt>
        <dd>{{applicant.farmingPractice}}</dd>
        <dt>Registration number</dt>
        <dd>{{applicant.businessRegNo}}</dd>
        <dt>Year of incorporation</dt>
        <dd>{{applicant.businessStartYear}}</dd>
        <dt>No of employees</dt>
        <dd>{{applicant.employeeNumbe}}</dd>
        <dt>Farm Address</dt>
        <dd>{{applicant.farmAdress}}</dd>
        <dt>Type of farm produce</dt>
        <dd>{{applicant.farmProduce}}</dd>
        <dt>Land size</dt>
        <dd>{{applicant.landSize}}</dd>
        <dt>Payback Date</dt>
        <dd>{{applicant.phoneNumber}}</dd>

        <dt>Credit Score</dt>
        <dd>{{applicant.creditScore}}</dd>
      </dl>

    </div>
    <div class="form-group mx-auto mt-3 " style="margin-left: 33rem !important;">
        <button type="submit" (click)="click()" class="btn move submit">Approve</button>  <button type="submit" (click)="click()" class="btn move submit">Decline</button>
    </div>
  </section>
  <!-- footer -->
  <footer class="footer-content py-5">
    <div class="container py-md-3">
      <div class="footer-top text-center">
        <h2>
          <a class="navbar-brand pt-3 mb-5" href="index.html">
            <span class="fa fa-recycle"></span> FarmKa$h
          </a>
        </h2>
      </div>
      <div class="row footer-top-inner-w3-pvt">
        <div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
          <div class="footer-wthree">
            <h3 class="mb-3 wthree_title">Links</h3>
            <hr>
            <ul class="list-info-wthree">
              <li>
                <a href="about.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Our Mission
                </a>
              </li>
              <li>
                <a href="#"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Latest Posts
                </a>
              </li>
              <li>
                <a href="#"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Explore
                </a>
              </li>
              <li>
                <a href="contact.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Find us
                </a>
              </li>
              <li>
                <a href="#"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Privacy Policy
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
          <div class="footer-wthree">
            <h3 class="mb-3 wthree_title">Navigation</h3>
            <hr>
            <ul class="list-info-wthree">
              <li>
                <a href="index.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Home
                </a>
              </li>
              <li>
                <a href="about.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  About Us
                </a>
              </li>
              <li>
                <a href="single.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Single Page
                </a>
              </li>
              <li>
                <a href="about.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Team
                </a>
              </li>
              <li>
                <a href="contact.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Contact Us
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
          <div class="footer-wthree">
            <h3 class="mb-3 wthree_title">Customer Care</h3>
            <hr>
            <ul class="list-info-wthree">
              <li>
                <a href="about.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Our Mission
                </a>
              </li>
              <li>
                <a href="#"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Latest Posts
                </a>
              </li>
              <li><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                <a href="#">
                  Explore
                </a>
              </li>
              <li>
                <a href="contact.html"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Find us
                </a>
              </li>
              <li>
                <a href="#"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                  Privacy Policy
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
          <div class="footer-wthree">
            <h3 class="mb-3 wthree_title">Contact Us</h3>
            <hr>
            <div class="last-w3-pvt-contact">
              <p>
                <a href="mailto:example@email.com">FarmKash@Gmail.com</a>
              </p>
            </div>
            <div class="last-w3-pvt-contact my-2">
              <p>+234 9035131962</p>
            </div>
            <div class="last-w3-pvt-contact">
              <p> 18A Ozumba Mbadiwe Avenue,
                <br>Victoria Island, Lagos.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- //footer bottom -->
  </footer>
  <!-- //footer -->
  <div class="copy-right">
    <div class="container">
      <div class="row">
        <p class="copy-right-grids text-md-left text-center my-sm-4 my-4 col-md-6">© 2019 FarmKa$h. All Rights
          Reserved | Design by
          <a href="http://FarmKash.com/"> FarmKa$h </a>
        </p>
        <div class="w3-pvt-footer text-md-right text-center mt-4 col-md-5">
          <ul class="list-unstyled w3-pvt-icons">
            <li>
              <a href="#">
                <span class="fa fa-facebook-f"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-dribbble"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-vk"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="move-top text-right col-md-1"><a href="#home" class="move-top"> <span class="fa fa-angle-up  mb-3"
              aria-hidden="true"></span></a></div>

      </div>
    </div>
  </div>