<div class="main-w3-pvt-header-sec page-w3pvt-inner" id="home">
  <div class="overlay-innerpage">
      <!-- header -->
      <header>
          <div class="container">
              <div class="header d-lg-flex justify-content-between align-items-center py-lg-3 px-lg-3">
                  <div id="logo">
                      <h1>
                          <a href="index.html">
                              <span class="fa fa-recycle mr-2"></span>FarmKa$h</a>
                      </h1>
                  </div>
              </div>
            </div>
      </header>

  </div>
</div>

<!-- /login -->
<section class="content-info py-5">
  <div class="container py-md-5">
      <div class="text-center px-lg-5">
          <h3 class="title-w3ls mb-5">Admin Login
          </h3>

      </div>
      <div class="contact-w3ls-form mt-5 move">
          <form action="#" class="w3-pvt-contact-fm" method="post">
              <div class="row">
                  <div class="col-lg-6">
                      <form>
                          <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                          </div>
                          <a [routerLink]="['/dashboard']"><button type="submit" class="btn btn-primary">Login</button></a>
                      </form>

                  </div>


              </div>

          </form>
      </div>
  </div>
</section>

<div class="copy-right">
  <div class="container">
      <div class="row">
          <p class="copy-right-grids text-md-left text-center my-sm-4 my-4 col-md-6">© 2019 FarmKa$h. All Rights Reserved | Design by
              <a href="http://FarmKa$h.com/"> FarmKa$h </a>
          </p>
          <div class="w3-pvt-footer text-md-right text-center mt-4 col-md-5">
              <ul class="list-unstyled w3-pvt-icons">
                  <li>
                      <a href="#">
                          <span class="fa fa-facebook-f"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span class="fa fa-twitter"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span class="fa fa-dribbble"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span class="fa fa-vk"></span>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="move-top text-right col-md-1">
              <a href="#home" class="move-top">
                  <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
              </a>
          </div>

      </div>
  </div>
</div>

